@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Inter:wght@700&family=Roboto:wght@400;500&display=swap');
.navbar {
    background-color: #6F6AF7;
    height: 60px;
    padding: 10px;
    align-items: center;
}

.dappr { 
    display: flex;
    width: 200px;
}

.dappr-text {
    width: 150px;
    padding-top: 10px;
    display: flex;
    position: absolute;
    margin-left: 20px;
}

.nav {
    display: flex;
    width: 100px;
    color: white;
    font-family: 'DM Sans', sans-serif;
    margin-left: 300px;
    font-size: 20px;
}

.home {
    margin-left: 500px;
    display: flex;
    position: absolute;
    margin-top: 20px;
}

.about {
    margin-left: 600px;
    display: flex;
    position: absolute;
    margin-top: 20px;
}

.info {
    margin-left: 730px;
    display: flex;
    position: absolute;
    margin-top: 20px;
}

.more {
    margin-left: 880px;
    display: flex;
    position: absolute;
    margin-top: 20px;
}
.downarrow {
    width: 10px;
    padding-left: 3px; 

}

.hamburger {
    width: 40px;
    margin-top: 15px;
    margin-left: 1430px;
}

.input {
    margin-left: 980px;
    display: flex;
    position: absolute;
    margin-top: 15px;
    background: #FFFFFF;
    border: none;
    border-radius: 63px;
    width: 200px;
    height: 32px;
    font-size: 15px;
    color: #000000;
    padding-left: 8px;
    

}

input::-webkit-input-placeholder {
    text-align: left;
}

.searchicon {
    display: flex;
    position: absolute; 
    width: 20px;
    margin-left: 1152px;
    margin-top: 21px;
}

.container {
    display: flex;
}

.flexbox-1 {
    display: flex;
    width: 1628px;
}


.image {
    display: flex;
    width: 400px;
    margin-top: 100px;
    margin-left: 50px;
}

.textbox {
    display: flex;
    background-color: #E5D8FF;
    border: none;
    border-radius: 20px;
    padding-left: 20px;
    padding-top: 30px;
    padding-right: 30px;
    width: 770px;
    height: 477px;
    font-family: 'DM Sans', sans-serif;
    font-size: 25px;
    color: #6F7373;
    line-height: 178.7%;
    margin-top: 126px;
    margin-left: 140px;
    box-shadow: inset 3px 5px 27px rgba(0, 0, 0, 0.175);
    
}

.socials {
    display: flex;
    flex-direction: column;
    position: fixed;
    padding-left: 1450px;
    padding-top: 10px;
}

.social {
    width: 60px;
}

.flexbox-2 {
    display: flex;
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 100px;
}

.box {
    display: flex;
    border: none;
    width: 300px;
    font-family: 'DM Sans', sans-serif;
    font-weight: bold;
    font-size: 23px;
    padding-top: 20px;
    padding-left: 28px;
    padding-bottom: 30px;
    margin-left: 60px;
    line-height: 178.7%;
    box-shadow: 0px 9px 31px rgba(0, 0, 0, 0.4);
    border-radius: 11px;
    
    color: #FFFFFF;

}

.box.one {
    background: #929DFF;
}
.box.two {
    background: #734CF2;
}
.box.three {
    background: #D288FF;
}
.box.four{
    background: #000000;
}

.chatdiv {
    position: fixed;
    bottom: 20px;
    right: 20px;
}
.chat {
    width: 130px;
   
    display: flex;
    margin-left: 1340px;
    
}

.flexbox-3 {
    display: flex;
    margin-top: 100px;
    margin-left: 80px;
    margin-bottom: 100px;
    background-color: #483EFF;
    width: 1340px;
    height: 600px;
    border-radius: 21px;
}

.flexbox-4 {
   
    width: 397px;
    height: 479px;
    margin-left: 50px;
    margin-top: 60px;
    margin-bottom:60px;
}

.flexbox-5 {
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 810px;
    height: 540px;
    margin-left: 50px;
    margin-top: 30px;
    margin-bottom:30px;
    border-radius: 19px;
}

.box1 {
    background: #BCE0F6;
    width: 400px;
    margin-bottom: 50px;
    height: 80px;
    text-align: center;
    font-family: 'DM Sans', sans-serif;
    font-weight: bold;
    font-size: 35px;
    padding-top: 40px;
    box-shadow: 0px 6px 35px rgba(0, 0, 0, 0.39);
    border-radius: 22px;
}
.box2 {
    background: none;
    width: 390px;
    margin-bottom: 50px;
    height: 80px;
    text-align: center;
    font-family: 'DM Sans', sans-serif;
    font-weight: bold;
    font-size: 35px;
    padding-top: 40px;
    border: 5px solid #FFFFFF;
    border-radius: 22px;
    color: #FFFFFF;
}
.box3 {
    background: none;
    width: 390px;
    margin-bottom: 20px;
    height: 80px;
    text-align: center;
    font-family: 'DM Sans', sans-serif;
    font-weight: bold;
    font-size: 35px;
    padding-top: 40px;
    border: 5px solid #FFFFFF;
    border-radius: 22px;
    color: #FFFFFF;
}
h1 {
    font-family: 'DM Sans', sans-serif;
    color: #04285A;
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
    letter-spacing: 0.105em;
    padding-left: 50px;
    padding-top: 40px;
}
/* p {
    
    padding-left: 50px;
    font-family: 'Roboto', sans-serif;
} */

.flexbox-6 {
    display: flex;
    flex-direction: row;
    width: 700px;
}

.textflex1 {
    padding-left: 70px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 33px;
    letter-spacing: 0.105em;

    color: #04285A;

}

.textflex2 {
    padding-left: 70px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 33px;
    letter-spacing: 0.105em;

    color: #04285A;
}